/*:::: modal_style :::: */
.picture_modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.picture_options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 55%;
  height: 36%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.picture_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 45%;
  margin: 1rem;
  padding: 0.6rem;
  font-size: 1.4rem;
  word-break: break-all;
}
.picture_button:hover {
  opacity: 0.9;
}

.picture_button_delete {
  grid-area: 2/1/2/1;
}
.picture_button_save {
  grid-area: 2/2/2/2;
}
.picture_modal_close {
  grid-area: 1/2/1/2;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 1rem;
  color: black;
  font-weight: lighter;
  border: none;
  background-color: transparent;
}
.picture_modal_close:hover {
  transform: scale(1.4);
  transition: 0.4s;
}
